deploy/machines_user.yml

base/__pycache__/

deploy/\.jobscripts/

deploy/\.jobsDB/

deploy/__pycache__/

__pycache__/

plugins/

results/

ssh_copy_id.log

tmp_app/

localhost_exe/

deploy/applications_user.yml
