mkdocs
mkdocs-autorefs
mkdocs-macros-plugin
mkdocs-markdownextradata-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-mermaid2-plugin
mkdocs-minify-plugin
mkdocs-awesome-pages-plugin
mkdocs-autolinks-plugin
mkdocstrings
mkdocstrings-python
